<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set User</title>
</head>
<body>s
    <h1>set user page</h1>

    <form action="{% url 'user:resetUser' id %}" method="post">
        {% csrf_token %}
<!--        <label for="user_id">ID：</label>/_id" value="{{ id }}" disabled="disabled" "/></br>-->

        <label for="name">用户名：</label>
        <input type="text" name="name" id="name" value="{{ name }}"></br>

        <label for="password">密码：</label>
        <input type="password" name="password", id="password" value="{{ password}}"></br>

        <label for="sex">性别：</label>
        {% if not sex %}
            <input type="radio" name="sex", id="sex" value="0" checked/>男
            <input type="radio" name="sex", id="sex" value="1"/>女</br>
        {% else %}
            <input type="radio" name="sex", id="sex" value="0" />男
            <input type="radio" name="sex", id="sex" value="1" checked/>女</br>
        {% endif %}

        <input type="submit" value="create">
    </form>
</body>
</html>